/* src/components/signUp.css */
.signup-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .signup-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg') no-repeat center center/cover; /* Reference to the sign-up page background image */
    z-index: -1;
  }
  
  .content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: white;
  }
  
  .signup-btn, .login-btn {
    padding: 10px 200px;
    font-size: 2.2rem;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block; /* Makes it easier to align */
    position: relative; /* Enables offset */
    left: -300px

  }
  
  .signup-btn:hover, .login-btn:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  
  .login-text {
    font-size: 1rem;
    margin-bottom: 0px;
    display: inline-block; /* Makes it easier to align */
    position: relative; /* Enables offset */
    left: -300px;
    color: whitesmoke;
  }